@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .input-styling {
    @apply bg-zinc-900 rounded-xl focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white placeholder:text-zinc-600 text-white;
  }

  .input-default {
    @apply input input-secondary input-styling;
  }

  .btn-base-color {
    @apply text-zinc-300 hover:text-white cursor-pointer !rounded-full bg-zinc-900 hover:bg-zinc-600;
  }

  .btn-default {
    @apply btn btn-secondary btn-base-color;
  }
}

.HideScollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.HideScollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
